# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/spec/kayasemdotcom/kayasemdotcom.aux
public/spec/kayasemdotcom/kayasemdotcom.fdb_latexmk
public/spec/kayasemdotcom/kayasemdotcom.fls
public/spec/kayasemdotcom/kayasemdotcom.out
public/spec/kayasemdotcom/kayasemdotcom.synctex.gz
public/spec/kayasemdotcom/kayasemdotcom.toc
public/spec/commandtrein/commandtrein.aux
public/spec/commandtrein/commandtrein.fdb_latexmk
public/spec/commandtrein/commandtrein.fls
public/spec/commandtrein/commandtrein.out
public/spec/commandtrein/commandtrein.synctex.gz
public/spec/commandtrein/commandtrein.toc
